 
 
 
 <p>copywright@2018</p>
    <script src="./public/lib/jquery-3.3.1.min.js"></script>
    <script src="./public/lib/bootstrap.min.js"></script>
    <script src="./public/js/script.js"></script>
</body>
</html>